{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleQuote": false,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "endOfLine": "lf"
}
